<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--<import resource="mongo-config.xml"/>-->

    <!--<import resource="security-config.xml"/>-->
    <context:annotation-config/>
    <context:component-scan base-package="vnua.khoaluan.controller"/>
    <context:component-scan base-package="vnua.khoaluan.service"/>
    <context:component-scan base-package="vnua.khoaluan.service.impl"/>
    <context:component-scan base-package="vnua.khoaluan.config"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="2"/>
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>

        <property name="suffix">
            <value>.jsp</value>
        </property>

    </bean>

    <mvc:interceptors>
        <bean id="localeChangeInterceptor"
              class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="language" />
        </bean>
    </mvc:interceptors>
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="vi" />
    </bean>

    <!-- Register the Customer.properties -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
        <property name="defaultEncoding"  value="UTF-8" />
    </bean>


    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- Maximum file size: 50MB -->
        <property name="maxUploadSize" value="52428800"/>
    </bean>

    <mvc:resources mapping="/resources/**" location="/resources/"
                   cache-period="31556926"/>
    <mvc:annotation-driven/>
</beans>